<div class="container-fluid" style="background-color: #eeeeee;">
  <%= render 'shared/navbar' %>

  <div class="container-fluid p-0" id="top-page">
    <% flash.each do |key, value| %>
      <div class="alert alert-info" role="alert">
        <%= value %>
      </div>
    <% end %>

    <div class="container-fluid p-0">
      <div class="row">
        <div class="left-side col-md-2 p-0" style="background-color: #dddddd;">
          <!-- ピックアップ -->
        </div>
        <div class="col-md-8">
          <% if @feed_items.any?  %>
            <div class="container p-0">
              <p class="font-weight-bold mt-3" style="font-size: 20px;">
                評価が高いプロダクト
              </p>
              <div class="row align-self-stretch">
                <% @feed_items.each do |post| %>
                  <%= render partial: "feed", :locals => {:post => post, :type => "rating"} %>
                <% end %>
              </div>
              <div class="mb-5">
                すべて見る
              </div>
            </div>

          <% end %>
          <% if @feed_items.any?  %>
            <div class="container p-0">
              <p class="font-weight-bold mt-3" style="font-size: 20px;">
                新着
              </p>
              <div class="row align-self-stretch">
                <% @new_feed_items.each do |post| %>
                  <%= render partial: "feed", :locals => {:post => post, :type => "new"} %>
                <% end %>
              </div>
              <div class="mb-5">
                すべて見る
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-2 p-0" style="background-color: #dddddd;">
          スポンサー
        </div>
      </div>
    </div>
  </div>
</div>
