<footer class="footer">
  <div class="text-center p-4 bg-light" id="footer">
    <ul class="list-inline quicklinks my-auto">
      <li class="list-inline-item">
        <a href="/privacy_policy" style="color: #aaaaaa; font-size: 14px;">プライバシーポリシー</a>
      </li>
      <li class="list-inline-item" style="color: #aaaaaa; font-size: 14px;">
        /
      </li>
      <li class="list-inline-item">
        <a href="/terms" style="color: #aaaaaa; font-size: 14px;">利用規約</a>
      </li>
      <li class="list-inline-item">
        <%= link_to "https://twitter.com/brushapp_me", :class => 'btn ml-3', :style => 'padding: 0px;', :target=>["_blank"]  do %>
          <img src="<%= asset_path "twitter.png" %>" class="rounded-circle" style="background-color: #aaaaaa; width: 30px; height: 30px;">
        <% end %>
      </li>
    </ul>
  </div>
</footer>
