<footer class="footer">
  <div class="row p-5 bg-light" id="footer">
    <div class="mx-auto">
      <ul class="list-inline quicklinks">
        <li class="list-inline-item">
          <a href="/privacy_policy" style="color: #aaaaaa; font-size: 14px;">Privacy Policy</a>
        </li>
        <li class="list-inline-item" style="color: #aaaaaa; font-size: 14px;">
          /
        </li>
        <li class="list-inline-item">
          <a href="/terms" style="color: #aaaaaa; font-size: 14px;">利用規約</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
