<div class="container-fluid">

  <%= render 'shared/navbar' %>

  <div class="container" id="privacy-policy-container">
    <p class="font-weight-bold mb-5" style="font-size: 18px;">プライバシーポリシー</p>
    <p>
      個人情報の利用
    </p>
    <span>
      運営者は主に以下の目的で個人情報を利用するものとします。
    </span>
    <ol>
      <li>
        本人確認を行う目的
      </li>
      <li>
        本サービスを運営又は提供する目的
      </li>
      <li>
        本サービスの利用状況を記録、集計、分析する目的
      </li>
    </ol>
  </div>
</div>
