<div class="container-fluid">

  <%= render 'shared/navbar' %>

  <div class="container" id="privacy-policy-container">
    <p class="font-weight-bold mb-5" style="font-size: 18px;">プライバシーポリシー</p>
    <div style="font-size: 14px;">
      <div class="font-weight-bold">
        1. 個人情報の利用
      </div>
      <p>
        運営者は主に以下の目的で個人情報を利用するものとします。
        <p class="m-0">
          (1)本人確認を行う目的
        </p>
        <p class="m-0">
          (2)本サービスを運営又は提供する目的
        </p>
        <p class="m-0">
          (3)本サービスの利用状況を記録、集計、分析する目的
        </p>
      </p>

      <div class="mt-4 font-weight-bold">
        ２. 広告について
      </div>
      <p>
        本サービスでは、今後、第三者配信の広告サービス（Googleアドセンス）を利用する可能性があります。
        広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、
        当サイトや他サイトへのアクセスに関する情報『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。
        またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、<a href="http://www.google.co.jp/policies/technologies/ads/">こちら</a>をクリックしてください。
      </p>

      <div class="mt-4 font-weight-bold">
        3. アクセス解析ツールについて
      </div>
      <p>
        本サービスでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
        このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
        このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
        この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
        この規約に関して、詳しくは<a href="http://www.google.com/analytics/terms/jp.html">こちら</a>、または<a href="https://www.google.com/intl/ja/policies/privacy/partners/">こちら</a>をクリックしてください。
      </p>

      <div class="mt-4 font-weight-bold">
        4. 免責
      </div>
      <p>
        運営者が特に定める場合を除き、運営者は、本サービスの利用者が本サービスを利用して運営者の運営・管理するウェブサイト
        又はその他のウェブサイトに当該利用者又は第三者の個人情報を公開したときは、これにより当該利用者又は当該第三者が被った損害について、
        一切の責任を負わないものとします。
      </p>
    </div>
  </div>
</div>
