// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

div#notification-text {
  font-size: 14px;
  margin-left: 10px;
  word-wrap: break-word;
  white-space: normal;
}
div#notification-page-text {
  font-size: 14px;
  margin-left: 10px;
  word-wrap: break-word;
  white-space: normal;
}
div#notification-text div#timestamp { color: #888888; font-size: 12px; margin-top: 4px;}
div#notification-page-text div#timestamp { color: #888888; font-size: 12px; margin-top: 4px;}
div#content { padding-bottom: 50px;}
a#navbarDropdownMenuLink { padding: 0px;}
div#navbar-post-button { padding: 0px; font-size: 14px; color: #555555;}
div#navbar-login-button { padding: 0px; color: #555555;}
span#rating { margin-right: 2px; font-size: 12px; color: #1C9B81;}
span#rating-count { margin-left: 5px; font-size: 12px; color: #888888;}
p#rating-count { font-size: 14px;}
img#feedback-profile-image {width: 30px; height: 30px;}
div#edit-post { font-size: 14px;}


@media screen and (max-width: 767px) {
    h1 { font-size: 22pt;}
    h2 { font-size: 18pt;}
    h3 { font-size: 14pt;}
    h4 { font-size: 14pt;}

    .text-danger { font-size: 12px;}
    a.dropdown-item { padding: 10px;}

    // shared
    img#profile-image {width: 30px; height: 30px;}
    div#footer a { font-size: 12px;}

    // navbar
    #notification-dropdown .dropdown-menu { width: 200px;}
    div#navbar-post-button { font-size: 12px;}
    div#navbar-login-button { font-size: 14px; color: #555555;}

    span#notification-button {
      padding: 8px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 12px;
      border-radius: 5px;
    }
    div#notification-text {
      font-size: 12px;
      // max-width: 120px;
    }
    // mypage
    div#main-container { margin-top: 50px; margin-bottom: 50px;}
    p#description { font-size: 10pt; margin-top: 40px;}

    div#mypage-feedback-container { margin-top: 30px; margin-bottom: 30px;}
    div#mypage-feedback-container p#title { margin-top: 20px; font-size: 14px;}
    div#mypage-feedback-container p#description { font-size: 12px;color: #999999; margin-top: 10px;}
    div#mypage-main-image img { height: 200px; margin-top: 50px;}

    div#main-container-button {
      font-size: 14px;
      margin-top: 40px;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    div#post-feed-item { margin-bottom: 20px;}
    div#post-feed-item span#post-title {
      font-size: 18px;
      width:240px;
      margin-bottom: -5px;
      display:inline-block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }
    div#post-feed-item span#post-content {
      font-size: 14px;
      width:240px;
      display:inline-block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }

    // post-page
    div#title-form { margin-top: 25px;}
    div#content-form { margin-top: 25px;}
    div#url-form { margin-top: 25px; margin-bottom: 25px;}
    p#new-text { font-size: 14px;}
    #image_preview { height: 200px;}
    span#file-text { font-size: 12px;}
    .form-control { font-size: 12px;}

    // post-detail-page
    div#post-detail-container { margin-top: 10px;}
    div#post-detail-container div#feedback-username {
      font-size: 12px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }
    div#post-detail-container span#post-title {
      font-size: 22px;
      word-break: break-all;
    }
    div#post-detail-container span#post-content {
      font-size: 14px;
      margin-top: 10px;
      word-break: break-all;
    }
    div#post-detail-container div#url-button {
      font-size: 12px;
      margin-top: 20px;
      padding: 5px;
    }
    div#post-detail-tweet-button {
       margin-top: 20px;
       font-size: 12px;
       border-radius: 20px;
       padding-left: 10px;
       padding-right: 10px;
     }
    div#nav-tab {font-size: 14px;}
    div#send-feedback-container { margin-top: 50px;}
    p#need-login { font-size: 12px;}
    div#twitter-login-button { font-size: 14px;}
    p#feedback-content { font-size: 14px;}
    div#feedback-username {
      font-size: 12px;
      word-wrap: break-word;
      white-space: normal;
    }
    div#feedback-timestamp { color: #888888; font-size: 10px;}

    .body-overlay {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 1;
      background-color: rgba(0,0,0,0.4);
      overflow-x: hidden;
    }

    .sidenav {
      display: none;
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: #212f3d;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      background-color: rgba(255,255,255,0.2);
    }

    .sidenav a#brand {
      font-size: 20px;
      color: #f1f1f1;
      background-color: rgba(255,255,255,0.1);
    }

    .sidenav img#brand-icon {
      width: 30px;
      height: 30px;
    }

    .sidenav a#project {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav a#feedback {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav a#feedback-sort {
      font-size: 14px;
    }

    .sidenav p#sort-text {
      margin-left: 55px;
      margin-bottom: 0px;
      color: #ffffff;
      font-size: 16px;
    }

    .sidenav div#feedback-sort-container img#icon {
      margin-left: 40px;
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }

    .sidenav a#edit {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav img#icon {
      margin-left: 6px;
      margin-right: 6px;
      width: 18px;
      height: 18px;
    }

    div#page-content {
      word-break: break-all;
    }

    // notification-page
    div#notification-feed-container { margin-top: 50px;}
}

@media screen and (min-width: 768px) and (max-width: 991px){
    h1 { font-size: 24pt;}
    h2 { font-size: 18pt;}
    h3 { font-size: 16pt;}
    h4 { font-size: 16pt;}


    // shared
    img#profile-image {width: 30px; height: 30px;}

    // navbar
    #notification-dropdown .dropdown-menu { width: 300px;}
    a#menu-toggle { visibility: hidden;}
    span#notification-button {
      padding: 8px;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 12px;
      border-radius: 5px;
    }
    span#notification-text {
      font-size: 14px;
    }
    // mypage
    div#main-container { margin-top: 100px; margin-bottom: 120px;}
    div#mypage-text-content div#mypage-text-content-container { width: 500px;}
    p#description { font-size: 12pt; margin-top: 50px;}
    div#main-container-button {
      font-size: 14px;
      margin-top: 40px;
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    div#mypage-feedback-container { max-width: 400px; margin-top: 50px; margin-bottom: 50px;}
    div#mypage-feedback-container div#mypage-text-content-container { width: 400px;}
    div#mypage-feedback-container p#title { margin-top: 50px; font-size: 18px;}
    div#mypage-feedback-container p#description { font-size: 14px;color: #999999; margin-top: 30px;}
    div#mypage-main-image img { width: 400px; height: 300px;}

    div#feature-item { margin-bottom: 50px;}
    div#feature-item img {width: 75px; height: 75px;}
    div#feature-item h4 {margin-top: 20px; margin-bottom: 16px;}
    div#post-feed-item span#post-title {
      font-size: 18px;
      width:230px;
      margin-bottom: -5px;
      display:inline-block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }
    div#post-feed-item span#post-content {
      font-size: 14px;
      width:230px;
      display:inline-block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }

    // post-page
    div#title-form { margin-top: 50px;}
    div#content-form { margin-top: 25px;}
    div#url-form { margin-top: 25px; margin-bottom: 50px;}
    #image_preview { width:600px; height: 300px;}

    // post-detail-page
    div#post-detail-container { margin-top: 25px; max-width: 600px;}
    div#post-detail-container div#feedback-username {
      font-size: 14px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }
    div#post-detail-container span#post-title {
       font-size: 26px;
       word-break: break-all;
     }
    div#post-detail-container span#post-content {
      font-size: 16px;
      word-break: break-all;
    }
    div#post-detail-container div#url-button { margin-top: 20px;}
    div#post-detail-tweet-button {
      margin-top: 20px;
      width: 150px;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

    div#send-feedback-container { margin-top: 75px; max-width: 600px;}
    p#feedback-content { font-size: 16px;}
    div#feedback-username {
      font-size: 14px;
      word-wrap: break-word;
      white-space: normal;
    }
    div#feedback-timestamp { color: #888888; font-size: 10px;}

    .sidenav {
      height: 100%;
      width: 180px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #212f3d;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      background-color: rgba(255,255,255,0.2);
    }

    .sidenav a#brand {
      font-size: 20px;
      color: #f1f1f1;
      background-color: rgba(255,255,255,0.1);
    }

    .sidenav img#brand-icon {
      width: 30px;
      height: 30px;
    }

    .sidenav a#project {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav a#feedback {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav a#feedback-sort {
      font-size: 14px;
    }

    .sidenav p#sort-text {
      margin-left: 55px;
      margin-bottom: 0px;
      color: #ffffff;
      font-size: 16px;
    }

    .sidenav div#feedback-sort-container img#icon {
      margin-left: 40px;
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }

    .sidenav a#edit {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
    }

    .sidenav img#icon {
      margin-left: 6px;
      margin-right: 6px;
      width: 18px;
      height: 18px;
    }

    div#page-content {
      word-break: break-all;
      margin-left: 180px;
      padding: 0px 10px;
    }

    // notification-page
    div#notification-feed-container { margin-top: 50px; max-width: 600px;}
    div#notification-page-text { max-width: 400px;}

    // privacy_policy
    div#privacy-policy-container { margin-top: 50px; max-width: 600px;}
    // terms
    div#terms-container { margin-top: 50px; max-width: 600px;}
}

@media screen and (min-width: 992px){
    h1 { font-size: 40pt;}
    h2 { font-size: 34pt;}
    h3 { font-size: 18pt;}
    h4 { font-size: 18pt;}

    // shared
    img#profile-image {width: 40px; height: 40px;}

    // navbar
    #notification-dropdown .dropdown-menu { width: 300px;}
    a#menu-toggle { visibility: hidden;}
    span#notification-button {
      padding: 10px;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 14px;
      border-radius: 5px;
    }

    // top-page
    #top-page div#main-container { margin-top: 50px; margin-bottom: 50px;}
    #top-page div#text-content-container { width: 600px;}
    #top-page p#description { font-size: 12pt; margin-top: 50px;}
    #top-page div#main-container-button {
      font-size: 14px;
      margin-top: 40px;
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    // mypage
    div#main-container { margin-top: 100px; margin-bottom: 120px;}
    div#mypage-text-content div#mypage-text-content-container { width: 600px;}
    p#description { font-size: 12pt; margin-top: 50px;}
    div#main-container-button {
      font-size: 14px;
      margin-top: 40px;
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    div#mypage-feedback-container { max-width: 100%; margin-top: 100px; margin-bottom: 100px;}
    div#mypage-feedback-container div#mypage-text-content-container { margin-left: 100px; width: 320px;}
    div#mypage-feedback-container p#title { font-size: 18px;}
    div#mypage-feedback-container p#description { font-size: 14px;color: #999999;}
    div#mypage-main-image img { width: 400px; height: 300px;}

    div#feature-item img {width: 75px; height: 75px;}
    div#feature-item h4 {margin-top: 48px; margin-bottom: 20px;}
    div#post-feed-item { margin-bottom: 20px;}
    div#post-feed-item span#post-title {
      font-size: 18px;
      width:190px;
      margin-bottom: -5px;
      display:inline-block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }
    div#post-feed-item span#post-content {
      font-size: 14px;
      width:190px;
      display:inline-block;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }

    // post-page
    #crop_area_box {
       display: block;
       width: 600px;
       height: 600px;
       overflow: hidden;
     }
    div#title-form { margin-top: 50px;}
    div#content-form { margin-top: 25px;}
    div#url-form { margin-top: 25px; margin-bottom: 50px;}
    div#post-button { font-size: 20px; margin-bottom: 50px;}
    #image_preview { width:600px; height: 300px;}

    // post-detail-page
    div#post-detail-container { margin-top: 25px; max-width: 600px;}
    div#post-detail-container div#feedback-username {
      font-size: 14px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      -webkit-text-overflow:ellipsis;
      -o-text-overflow: ellipsis;
    }
    div#post-detail-container span#post-title {
      font-size: 26px;
      word-break: break-all;
    }
    div#post-detail-container span#post-content {
      font-size: 16px;
      word-break: break-all;
    }
    div#post-detail-container div#url-button {
      margin-top: 20px;
    }
    div#post-detail-tweet-button {
      margin-top: 20px;
      width: 150px;
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 15px;
    }

    div#send-feedback-container { margin-top: 75px; max-width: 600px;}
    p#feedback-content { font-size: 16px;}
    div#feedback-username {
      font-size: 14px;
      word-wrap: break-word;
      white-space: normal;
    }
    div#feedback-timestamp { color: #888888; font-size: 10px;}

    .sidenav {
      height: 100%;
      width: 256px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #212f3d;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }

    .sidenav a:hover {
      background-color: rgba(255,255,255,0.2);
    }

    .sidenav div#feedback-sort-container a:hover {
      background-color: #212f3d;
      color: #ffffff;
    }

    .sidenav a#brand {
      // font-size: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 22px;
      color: #f1f1f1;
      background-color: rgba(255,255,255,0.1);
    }

    .sidenav img#brand-icon {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      margin-right: 5px;
      // width: 20px;
      // height: 20px;
    }

    .sidenav a#project {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav a#feedback {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav a#feedback-sort {
      font-size: 14px;
    }

    .sidenav p#sort-text {
      margin-left: 75px;
      margin-bottom: 0px;
      color: #ffffff;
      font-size: 16px;
    }

    .sidenav div#feedback-sort-container img#icon {
      margin-left: 60px;
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }

    .sidenav a#edit {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }

    .sidenav img#icon {
      margin-left: 10px;
      margin-right: 10px;
      width: 20px;
      height: 20px;
    }

    div#page-content {
      word-break: break-all;
      margin-left: 256px;
      padding: 0px 10px;
    }

    div#project-bar {
      height: 50px;
      background-color: #555555;
    }

    // notification-page
    div#notification-feed-container { margin-top: 50px; max-width: 600px;}
    div#notification-page-text { max-width: 400px;}

    // privacy_policy
    div#privacy-policy-container { margin-top: 50px; max-width: 600px;}
    // terms
    div#terms-container { margin-top: 50px; max-width: 600px;}

}
